{% include '../public/base_cssjs.html' %} 

    <!-- 富文本编辑器 -->
    <link href="/public/admin/wysiwyg-editor/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Include Editor style. -->
    <link href="/public/admin/wysiwyg-editor/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="/public/admin/wysiwyg-editor/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <!-- 引入jquery -->
    <!-- Include Editor JS files. -->
    <script type="text/javascript" src="/public/admin/wysiwyg-editor/js/froala_editor.pkgd.min.js"></script>
    <script type="text/javascript" src="/public/admin/wysiwyg-editor/js/zh_cn.js"></script>

    <!-- 批量上传图片插件 -->
    <link rel="stylesheet" type="text/css" href="/public/admin/webuploader/css/webuploader.css">
    <link rel="stylesheet" type="text/css" href="/public/admin/webuploader/css/diyUpload.css">
    <script type="text/javascript" src="/public/admin/webuploader/js/webuploader.html5only.min.js"></script>
    <script type="text/javascript" src="/public/admin/webuploader/js/diyUpload.js"></script>

    <div class="panel panel-default"> 
        <div class="panel-heading clear">
                <span>房屋商品详情</span> 
                
        </div>               
        <div class="panel-body">
            <div class="table-responsive input-form">
                <form id="goods_form"  action="/admin/goods/doEdit?_csrf={{csrf}}" method="post" class="goods_content" enctype="multipart/form-data">                 
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#general"  role="tab" data-toggle="tab">通用信息</a></li>
                            <li role="presentation"><a href="#detail" role="tab" data-toggle="tab">详细描述</a></li>
                            <li role="presentation"><a href="#photo"  role="tab" data-toggle="tab">房屋商品相册</a></li>              
                    </ul>
                    
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="general">
                                <input type="hidden" name="id" value="{{goods._id}}" />
                                <input type="hidden" name="prevPage" value="{{prevPage}}" />
                                <ul class="form_input">
                                        <li> <span> 房屋商品标题:</span> <input type="text" name="title" class="input"  value="{{goods.title}}" /></li>                            
                                        <li> <span> 房屋户型:</span> <input type="text" name="house_huxing" class="input" value="{{goods.house_huxing}}"/></li>
                                        <li> <span> 房屋建筑面积:</span> <input type="text" name="space" class="input" value="{{goods.space}}"/></li>        
                                        <li>  <span>所属分类:</span> 
                                            <select name="cate_id" id="cate_id">
                                                {%for item in goodsCate %}
                                                        <option value="{{item._id}}" {%if goods.cate_id.toString()==item._id.toString() %} selected {% endif %} >{{item.title}}</option>
                                                        {%for subItem in item.items%}
                                                                <option value="{{subItem._id}}" {%if goods.cate_id.toString()==subItem._id.toString() %} selected {% endif %}>----{{subItem.title}}</option>      
                                                        {% endfor %}
                                                {% endfor %}
                                            </select>
                                          
                                        </li>
                                        <li> <span> 房屋商品图片:
                                             </span> <input type="file" name="goods_img"/>                                        
                                             <span> </span> <img class="pic" src="{{goods.goods_img}}" />
                                        </li> 
                                        <li>  <span>房屋商品价格:</span> <input type="text" name="price" value="{{goods.price}}"/></li>
                                        <li>  <span>房屋商品开盘日期:</span> <input type="text" name="open_time" value="{{goods.open_time}}"/></li>
                                        <li>  <span>房屋商品地址:</span> <input type="text" name="address" value="{{goods.address}}"/></li>
                                        <li>  <span>所属销售员:</span> 
                                            <select name="sale" id="sale">
                                                {%for sale in sale %}
                                                        <option value="{{sale._id}}" {%if goods.sale.toString()==sale._id.toString() %} selected {% endif %} >{{sale.username}}</option>
                                                {% endfor %}
                                            </select>
                                     
                                        </li>
                                        <li> <span>楼盘电话:</span> <input type="text" name="house_tel" value="{{goods.house_tel}}"/></li>
                                        <li> <span>房屋商品状态:</span>　
                                            <input type="radio" name="status" {%if goods.status==1 %} checked {%endif%} value="1" id="a"/> <label for="a">显示</label>    
                                            <input type="radio" name="status"  {%if goods.status==0 %} checked {%endif%}   value="0" id="b"/><label for="b">隐藏</label>
                                         </li>
                                         <li> <span>加入推荐:</span>　
                                            <input type="checkbox" onclick="checkbox(this)" name="is_best" 
                                            {%if goods.is_best==1 %} 
                                               checked value="1" 
                                            {% else %}
                                               value="0" 
                                            {%endif%}  /> 精品
                                            <input type="checkbox" onclick="checkbox(this)" name="is_new" 
                                            {%if goods.is_new==1 %} 
                                                checked value="1" 
                                            {% else %}
                                               value="0"
                                            {%endif%} /> 新品
                                            <input type="checkbox" onclick="checkbox(this)" name="is_hot"                           name="is_hot" 
                                            {%if goods.is_hot==1 %}
                                               checked value="1" 
                                             {% else %}
                                               value="0"
                                             {%endif%} /> 热销
                                           
                                         </li>
                               </ul>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="detail">
                            <textarea name="goods_content" id="content" cols="100" rows="8">{{goods.goods_content | safe}}</textarea>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="photo">
                              <div id="goods_image">    
                                        <ul id="goods_image_list" class="goods_image_list clear ">
                                               {%for goodsImage in goodsImages %}
                                                   <li>
                                                       <img class="pic goods_image_delete" src="{{goodsImage.img_url}}" width="200px" goods_image_id={{goodsImage._id}} />
                                                       
                                                   </li>
                                               {%endfor%}
                                        </ul>
                              </div>
                              <div id="photoLib"  class="photoLib"></div>
                              <div id="photoList"></div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>


    <script>
            function checkbox(obj){
                if(obj.checked){
                    obj.value=1;
                }else{
                    obj.value=0;
                }
            }
      

                    //富文本编辑器
                $(function() {
                    $('#content').froalaEditor({
                        height: 300,    //给编辑器设置默认的高度
                        language: 'zh_cn',   
                        imageUploadURL: '/admin/goods/goodsDetailImages',
                        //根据不同的分辨率加载不同的配置
                        toolbarButtons: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
                        toolbarButtonsMD: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo'],
                        toolbarButtonsSM: ['fullscreen', 'bold', 'italic', 'underline', 'strikeThrough', 'subscript', 'superscript', '|', 'fontFamily', 'fontSize', 'color', 'inlineStyle', 'paragraphStyle', '|', 'paragraphFormat', 'align', 'formatOL', 'formatUL', 'outdent', 'indent', 'quote', '-', 'insertLink', 'insertImage', 'insertVideo', 'embedly', 'insertFile', 'insertTable', '|', 'emoticons', 'specialCharacters', 'insertHR', 'selectAll', 'clearFormatting', '|', 'print', 'spellChecker', 'help', 'html', '|', 'undo', 'redo']
                    });
                });


                //批量上传图片
                $(function(){
                    var photoStr='';                
                    $('#photoLib').diyUpload({
                        url:'/admin/goods/goodsAlbumImages',                    
                        success:function( response ) {
                            // console.info( data );
                            photoStr='<input type="hidden" name="goods_image_list" value='+response.link+' />';
                            $('#photoList').append(photoStr);
                        },
                        error:function( err ) {
                            console.info( err );	
                        }
                    });
                })

            
                    //删除图片
                $('.goods_image_delete').click(function(){
                        var _that=this;
                        var flag=confirm('您确定要删除吗?');

                        if(flag){
                                var goods_image_id=$(this).attr('goods_image_id');
                                $.post('/admin/goods/goodsImageRemove?_csrf={{csrf}}',{goods_image_id:goods_image_id},function(response){
                                        console.log(response);
                                        if(response.success){
                                            $(_that).parent().remove();
                                        }
                                })
                        }
                })

                // 表单提交
                $("#submit_button").on("click", function () {
                        $('#goods_form').submit();
                    });

            
            
    </script>