{% include '../public/base_cssjs.html' %}

<div class="panel panel-default">              
        <div class="panel-heading">
            编辑广告图
        </div>
        <div class="panel-body">
            <div class="table-responsive input-form">
                <form action="/admin/advertise/doEdit?_csrf={{csrf}}" method="post" enctype="multipart/form-data">
                    <ul>
                        <input type="hidden" name="id" value="{{ ad._id }}">
                        <li>  分　　类: 
                            <select name="type" id="type">
                                <option {% if ad.type==1 %} selected {% endif %} value="1">网站</option>
                                <option {% if ad.type==2 %} selected {% endif %}value="2">APP</option>
                                <option {% if ad.type==3 %} selected {% endif %}value="3">小程序</option>
                            </select>
                        </li>
                        <li>  名　　称: <input type="text" name="title" value="{{ad.title}}"/></li>
                        <li>  跳转地址: <input type="text" name="link" value="{{ad.link}}"/></li>
                        <li>  广 告 图: <input type="file" name="advertise_img" />
                            <img src="{{ad.advertise_img}}"  class="pic" width="200">
                        </li>
                        <li>  级　　别: 
                                <select name="level" id="level">
                                    <option {% if ad.level==1 %} selected {% endif %} value="1">一级广告</option>
                                    <option {% if ad.level==2 %} selected {% endif %} value="2">二级广告</option>
                                </select>
                            </li>
                        <li>  排　　序: <input type="text" name="sort" value="{{ad.sort}}"/></li>
                        <li>  状　　态:
                             <input type="radio" name="status" {% if ad.status==1 %} checked {% endif %} value="1" id="a"/> 
                            <label for="a">显示</label>   
                             <input type="radio" name="status"{% if ad.status==0 %} checked {% endif %} value="0" id="b"/>
                             <label for="b">隐藏</label> 　
                        </li>
                        <li>
                            <br/>
                            <button type="submit" class="btn btn-default">提 交</button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
</div>