<nav class="navbar navbar-default" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/admin" style="text-decoration: none;">
                <!-- <img src="/public/admin/images/logo.png" width="100px" alt=""> -->
                <h4 style="color: black; padding-top: 5px;padding-left: 10px;">2U-HOME</h4>
            </a>
        </div>
        <div  >   
            <ul class="nav navbar-nav navbar-right">
                <li><a><span class="glyphicon glyphicon-user"></span>&nbsp;{{userinfo.username}}</a>
                </li>
                <li><a href="/admin/logout"><span class="glyphicon glyphicon-off"></span>&nbsp;退出</a>
                </li>
            </ul>
        </div>
    </div>
</nav>