{% extends "../public/base.html" %}

{% block cssjs %}
	<link rel="stylesheet" type="text/css" href="/public/index/css/style.css">
{% endblock %}

{% block content %}
	<!-- 导航 -->
    {% include '../public/nav.html' %}

	<div class="goods_list">
			<div class="content">
				{%for goods in goodsList%}
				<a href="/goodsinfo?id={{goods._id}}&&user={{userinfo._id}}">
					<div class="item fl">
						<div class="tag"><span style="background:#fff"></span></div>
						<div class="good_img">
								<img src="{{goods.goods_img}}" >
							</div>
							<div class="title">{{goods.title}}</div>
							<div class="price">{{goods.price}}</div>
							{%if goods.cate_id == "5e75bcf95b19194798cf9ce3" %}
							<div style="padding-top: 20px;">开盘日期：{{goods.open_time}}</div>
							{%else%}
							<div style="padding-top: 20px;">上架日期：{{goods.open_time}}</div>
							{%endif%}
						</div>
					</a>
				{%endfor%}
				<div class="clear"></div>
			</div>
		</div>

{% endblock %}
