{% extends "../public/base.html" %}

{% block cssjs %}
<link rel="stylesheet" type="text/css" href="/public/index/css/style.css">
<link rel="stylesheet" type="text/css" href="/public/index/css/order.css">
{% endblock %}

{% block content %}
	<!-- 导航 -->
{% include '../public/nav.html' %}

<div class="user-order">
	<form action="/kefu/doAdd?_csrf={{csrf}}" method="post">
	   
	   <ul class="form_input" style="text-align: center;">
			<input type="hidden" name="_csrf" value="{{csrf}}">
			<li> <span style="font-size: 20px;display: inline-block;">姓名:</span> <input style="font-size: 20px;" type="text" name="name" value="{{item.name}}"/></li>
			<li> <span style="font-size: 20px;display: inline-block;">联系方式:</span> <input style="font-size: 20px;" type="text" name="phone" value="{{item.nicheng}}"/></li>
			<li> <span style="font-size: 20px;">您的留言:</span> <br><textarea name="content" cols="50" rows="10"></textarea></li>          
			<li>
				<br/>
				<a href="/" class="btn btn-primary">返回主界面</a>
				<button id="tijiao" class="btn btn-primary">提交</button>
			</li>
		</ul>	 
	</form>
</div>
<div class="clear"></div>

{% endblock %}
